@charset "utf-8";
.header{
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: 100;
    box-sizing: border-box
}
.nav-header{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #000000;
}
.item-list{
    display: block;
    position: relative;
    width: 60px;
    height: 100%;
}
.item-home-icon::before,.item-home-icon::after{
    display: block;
    content: ' ';
    width: 20px;
    height: 2px;
    position: absolute;
    top: -6px;
    background-color: #ffffff;
}
.item-home-icon::after{
    bottom: -6px;
    top: auto;
}
.item-home-icon{
    width: 20px;
    height: 2px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -10px;
    background-color: #ffffff;
}
.page{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    background-color: hsl(218, 85%, 23%);
    overflow: hidden;
}
.svg-box{
    width: 100%;
    height: 100%;
}
.starts{
    background: url("../image/stars.svg");
    width: 100%;
    height: 100%;
    animation: rotation 300s infinite linear;
}
#frontsvg{
    position: absolute;
    bottom: 0;
    left: 0;
}
.view-item{
    width: 70%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.view-item .item{
    width: 50%;
    padding: 15px 0;
    float: left;
}
.item img {
    border-radius: 100%;
}

.view-item .item:nth-child(2n-1) a{
    float: left;
}
.view-item .item:nth-child(2n) a{
    float: right;
}
.view-item .item  a:hover img{
    animation: upupdown .5s 2 linear
}
.ml-10p{
    margin-left: 10%;
}
.mr-10p{
    margin-right: 10%;
}
@keyframes rotation{
    from{
        transform: rotate(0deg)
    }
    to
    {
        transform: rotate(359deg)
    }
}

@keyframes leftOut{
    0%{
        opacity: 0;
        transform: translate3d(-2000px,0,0)
    }
    100%{
        opacity: 1;
        transform: none;
    }
}
@keyframes upupdown {
    0%{
        transform: translate3d(0,0,0)
    }
    40%{
        transform: translate3d(0,-30px,0)
    }
    80%{
        transform: translate3d(0,-15px,0)
    }
    100%{
        transform: translate3d(0,0,0)
    }
}