@charset "utf-8";
html,body{
    height: 100%;
}
html,body,ul,ol,p,input,button,textarea{
    margin: 0;
    padding: 0;
}
div,p,ul,ol,li{
    box-sizing: border-box;
}
body{
    font-size: 1em;
    line-height: 100%;
    color: #333333;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.clearfix::after{
    display: block;
    content: ' ';
    height: 0;
    width: 0;
    clear: both;
}
.clearfix{
    zoom: 1;
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
